# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Virtual Environment
venv/
ENV/

# Vercel
.vercel
.now

# Project specific
static/uploads/
static/results/
!static/uploads/.gitkeep
!static/results/.gitkeep

# Large files
*.xml
*.h5
*.pkl
*.model
*.weights
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 